SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=example.com,www.example.com
FRONTEND_ORIGINS=https://example.com

DB_NAME=sentiment
DB_USER=sentiment
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

SENTIMENT_MODEL_PATH=/opt/sentiment-app/models/rubert-model
RECIPIENT_GLINER_MODEL_PATH=/opt/sentiment-app/models/gliner-model

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
USE_X_FORWARDED_PROTO=True
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
